@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.obj-search-option__search-autocomplete.ant-select-dropdown-menu-item {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-weight: bold;
  border-bottom: @base-border;
  padding: 10px 14px;
}

.obj-search-option__search-autocomplete.ant-select-dropdown-menu-item-active {
  background-color: @white;

  &:hover {
    background-color: @white-darker;
  }
}

.obj-search-option__search-autocomplete.ant-select-dropdown-menu-item-selected {
  background-color: @white;
}

.obj-search-option__search-dropdown-container.ant-select-dropdown {
  width: 350px;
  top: 40px !important;
  position: fixed;
  border-radius: 0;
  border-bottom-left-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
  border-right: @base-border;
  border-left: @base-border;
  border-bottom: @base-border;
  box-shadow: none;
  padding-top: 5px;
}

@import 'SearchObjectsAutocomplete-nightmode';
